

.principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenedor-1{
   
    width: 500px;
    height: 500px;
    background-color: black;
    padding-top: 170px;
    
}

.submit{
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    
}

.submit:hover{
    background-color: antiquewhite;
   cursor: pointer;
}

.label{
    
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-align: center;
   
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    align-items: center;
    gap: 10px;
    border-radius:10px ;
    }

.contenedor-2{
    padding-top: 10px;
}

.map{
    height: 500px;
    width: 500px;
}